*{
    margin: 0;
    padding: 0;
    font-family: "Libre Baskerville", serif;

}



.list-header {
    min-height: 100vh;
    width: 100%;
    background-image: url('images/list.png');
    background-position: center;
    background-size: cover;
    position: relative;


}

.list-header img {
    width: 2.6cm;
    border-radius: 50%;;
    border-left: rgb(22, 96, 106) solid 2px;
    border-right: rgb(22, 96, 106) solid 2px;
    border-top: rgb(22, 96, 106) solid 2px;
}


body {
    background: rgb(220, 238, 255);
    overflow-x: hidden; 


}

nav {
    display: flex;
    padding: 4% 4%;
    justify-content: space-between;
    align-items: center;

}

nav-img {
    width: 150px;

}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 900;
    background-color: rgb(14, 68, 14);
    opacity: 0.9;
   
  
 

}

.nav-links ul li ::after {
    content: '';
    width: 0%;
    height: 3px;
    background: teal;
    display: block;
    margin: auto;
    transition: 0.5s;

}

.nav-links ul li :hover::after {
    width: 100%;
}

.text-box {
    width: 75%;
    color: dark rgb(33, 154, 160);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


}

.text-box h1 {
    font-size: 58px;
    color: white;
    
 
}

.text-box p {
    margin: 10px 0 40;
    font-size: 16px;
    font-weight: 600;
    color: rgb(6, 39, 47);
    background-color: whitesmoke;
    opacity: 0.5;
    
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    background: rgb(14, 70, 63);
    position: relative;
    cursor: pointer;


}

.hero-btn:hover {
    border: 1px solid lightcyan;
    background: lightblue;
    transition: 1s;  
}

.hero-btn2 {
    margin-left: 75px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    background: rgb(14, 70, 63);
    position: relative;
    cursor: pointer;
    opacity: 0;


}

.hero-btn2:hover {
    border: 1px solid lightcyan;
    background: lightblue;
    transition: 1s;  
}

nav .fa {
    display: none;
}

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: lightblue;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;  
    }

    .nav-links ul {
        padding: 30px;
    }

}

/*--------list----------*/
.list {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
    color:rgb(13, 64, 65)
}

p {
    color: rgb(16, 78, 79);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}

/*--------sections----------*/
.blocks {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 36px;
    color: rgb(16, 78, 79);
    font-weight: 600;
    
}


p {
    color: rgb(16, 78, 79);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    overflow: hidden;
  
}





.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

/*--------accordion----------*/




.accordion {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    font-weight: 550; 
    flex-basis: 31%;
    background: rgb(220, 238, 255);
    border-radius: 10px;
    padding: 10px 2px;
    box-sizing: border-box;
}

.accordion .contentBx {
    position: relative;
    margin: 1px 5px;
}


.accordion .contentBx .label {
    text-align: center;
    position: relative;
    padding: 10px;
    background: rgb(220, 238, 255);
    color: rgb(16, 78, 79);
    font-size: 30px;
    color: rgb(16, 78, 79);
    font-weight: 600;
    border: white solid 10px;
    cursor: pointer;
   
}

.accordion .contentBx .content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 1.5s;
    overflow-y: auto; 
}

.accordion .contentBx .list {
    position: relative;
    padding: 10px;
    background: rgb(220, 238, 255);
    color: rgb(16, 78, 79);
    cursor: pointer;
    border: white solid 5px;

}

.accordion .contentBx .label:hover {
    background: rgb(154, 203, 223);
    transition: 1s ease;
}

.accordion .contentBx.active .content {
    height: 150px;
    padding: 10px;

}

.label {
    color: rgb(220, 238, 255);
}
h3 {
    text-align: center;
    font-weight: 400;
    margin: 600; 
}








/*--------slider----------*/
.slider-container {
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}

.slider-images {
    display: flex;
    align-items: center;
    gap: 21px;
}

.slider-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
   
}

.slider-img {
    width: 100px;
    cursor: pointer;
    position: relative;
    transition: 1.5s ease;
    filter: grayscale(80%);

}

.slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
    height: 300px;
}

.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(8) {
    height: 450px; 
 
}

.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(7) {
    height: 600px;  
}

.slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5), .slider-images .slider-img:nth-child(6){
    height: 750px;

}



.slider-container h1 {
    font-family: "Jost", sans-serif; 
    font-weight: 900;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: -30%;
    transform: rotate(270deg);
    transition: 0.7s ease;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;


}

.slider-container h3 {
    font-family: "Jost", sans-serif; 
    font-weight: 900;
    font-size: 25px;
    text-align: left;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: -40%;
    transform: rotate(270deg);
    transition: 0.7s ease;
    color: white;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;



}

.details {
    position: absolute;
    bottom: 43px;
    left: 43px;
}

.details h2 {
    font-family: "Jost", sans-serif; 
    font-weight: 700;
    font-size: 40px;
    text-align: left;
    line-height: 44px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
    border-bottom: white 10px solid; 
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: white;
}

.details p {
    font-family: "Jost", sans-serif; 
    font-weight: 700;
    font-size: 25px;
    text-align: left;
    line-height: 80px;
    color: white;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none; 


}

.slider-img.active{
    width: 400px !important;
    height: 750px !important;
    filter: grayscale(0%);


}

.slider-img.active h1 {
    display: none;
}

.slider-img.active .details p, .slider-img.active .details h2   {
    display: block;
} 

.slider-img.active .details a {
    opacity: 1;
}







/*-----------section-----------*/

.footer {
    margin-top: 120px; 
    background:rgb(3, 57, 65);
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    padding: 50px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px; 
    font-weight: 600;
    color: rgb(205, 249, 249); 
}

.footer p {
    color: rgb(73, 226, 226);
}

.footer p2 {
    padding-top: 90px;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

.icons .fa {
    color: rgb(73, 226, 226);
    cursor: pointer;
    padding: 5px;

   
}

  .icons ion-icon {
    color: rgb(73, 226, 226);
    cursor: pointer;
    padding: 5px;
    padding-top: 10px;

   
}

/*-----------scrollbar-----------*/

::-webkit-scrollbar {
    width: .7em;

}

::-webkit-scrollbar-track {
    background: rgb(3, 57, 65);  
    
}


::-webkit-scrollbar-thumb {
    background: rgb(69, 117, 117);
    border-radius: 100vw; 
    border: rgb(211, 235, 237) solid 1px;
    cursor: pointer;
    
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(194, 222, 222); 
    
}


