/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */

body {
  background-color: rgb(31, 96, 130);
  color: #222;
  font: 300 16px/22px "Open Sans"
}

/* Rows */

.row, .row-alt {
  min-width: 1100px;
}

.row {
  background: #fff;
  padding: 66px 0 66px 0;
}

.row-alt {
  background-color: #cbe2c1;
  background: linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/* Grid */

*, *:before, *:after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 1100px;
}

.container {
  padding-left: 30px;
  padding-right: 30px;
}

/* Typography*/

h1, h2, h5, p {
  margin-bottom: 22px;
}

h3 {
  margin-bottom: 11px;
}

h4 {
  display: inline-block;
  border-bottom: 1px solid #222;
  padding-bottom: 1px;
  margin-bottom: 4px;
}

h1, h2, h4 {
  color: rgb(31, 96, 130);
}

h1 {
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  color: rgb(26, 95, 131);
  font-weight: normal;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 18px;
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

strong {
  font-weight: 400;
}

cite, em {
  font-style: italic;
}

/* Links */

a {
  color: #5290C0;
  text-decoration: none;
}

a:hover {
  color: #a9b2b9;
}

/* Clear fix */

.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/* primary header*/

.logo {
  float: left;
  font-size: 48px;
  line-height: 44px;
  padding: 40px 0 22px 0;
  font-weight: 100;
  letter-spacing: .5px;
  text-transform: uppercase;
  color: #fff;
}

.logo_image {
  float: left;
  height: 110px;
  margin: 30px 10px 22px 0;
}

.tagline {
  margin: 66px 0 22px 0;
  text-align: right;
  color: #fff;
  font-weight: 100;
}

/* primary footer */

.primary-footer {
  color: #fff;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer small {
  float: left;
  font-weight: 400;
}

/* primary header and footer */

.primary-header a {
  font-size: 13px;
}

.primary-header a, .primary-footer a {
  color: #fff;
}

.primary-header a:hover, .primary-footer a:hover {
  border-bottom: 4px solid #fff;
}


/* primary nav */

.primary-nav, .sub-nav{
  font-size: 14px;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.primary-nav {
  font-weight: 400;
}

.sub-nav {
  font-weight: 300;
}

/* Navigation */

.nav {
  text-align: right;
}

.nav a {
  margin: 0px 6px;
  padding: 2px 0px;
  word-spacing: .01em;
}

.nav .nav-current-page {
  border-bottom: 4px solid #fff;
}


/* Sub nav */

.sub-nav {
  vertical-align: top;
  padding-top: 15px;
  width: 33%;
  display: inline-block;
}

.sub-nav a {
  color: rgb(31, 96, 130);
}

.sub-nav a:hover {
  border-bottom: 4px solid rgb(31, 96, 130);
}

.sub-nav ul {
  padding: 0;
  list-style-type: none;
}

.sub-nav li {
  margin-bottom: 10px;
}

/* Contents */

.contents {
  width: 66%;
  display: inline-block;
}

/* Leads */

.lead {
  text-align: center;
}

.lead p {
  font-size: 21px;
  line-height: 33px;
}

/* lists */

ul {
  list-style-type: circle;
  padding-left: 18px;
}

/* expand and collapse */

.accordion h3 {
  border-bottom: 2px solid #222;
  padding: 0px;
  padding-bottom: 2px;
}

.accordion .ui-accordion-header-active {
  border-bottom: 4px solid rgb(26, 95, 131);
  color: rgb(26, 95, 131);
  font-weight: normal;
}

.accordion h3:hover {
  border-bottom: 4px solid rgb(26, 95, 131);
  color: rgb(26, 95, 131);
  font-weight: normal;
}

.accordion p {
  padding: 0;
  padding-bottom: 15px;
  margin: 0;
}

.accordion ul {
  margin-bottom: 15px;
}

.accordion .ui-state-focus {
  outline: none;
}

.bullets {
  margin-bottom: 15px;
}

.bullets p {
  padding-top: 15px;
}

.bullets h3, .bullets div{
  margin-left: 1em;
}

.bullets h3{
  /*border-bottom: 2px solid #555;*/
  border-bottom: 0px;
  font-size: 16px;
  display: list-item;
  list-style: circle;
  /*margin-bottom: 10px;*/
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.bullets h3:hover {
  /*border-bottom: 2px solid rgb(26, 95, 131);*/
  border-bottom: 0px;
  color: rgb(26, 95, 131);
  text-decoration: underline;
  font-weight: normal;
}

.bullets .ui-accordion-header-active {
  /*border-bottom: 2px solid rgb(26, 95, 131);*/
  border-bottom: 0px;
  color: rgb(26, 95, 131);
  text-decoration: underline;
  font-weight: normal;
}

.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}
